@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font01: 'Bruno Ace SC', 'cursive';
    --font02: 'Kanit', sans-serif;
    --font03: 'Playfair Display', serif;

    --cor01: #591212;
    --cor02: #DF7070;
    --cor03: #D92B2B;
    --cor04: #592D2D;
    --cor05: #A62121;
}

*{
    margin: 0%;
    padding: 0%;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-image: url('imagens/outrasimagens/wallpaper02.jpg');
    background-position: center;
    background-size: cover;
}

main{
    position: relative;
}

header{
    text-align: right;
}

header div#logomarca{
    width: 6%;
    margin-top: 1%;
    display: inline-block;
    margin-right: 30%;
}

header div img#onerb{
    width: 100%;
}

header div img#onerb:hover{
    cursor: grab;
}

header nav{
    display: inline-block;
    text-align: center;
    width: 60%;
    padding-bottom: 1%;
}

header nav a{
    text-decoration: none;
    border-radius: 15px;
    margin-right : 2%;
    font-family: var(--font01);
    color: white;
    padding: 1%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}

header nav a:hover{
    color: var(--cor03);
    text-decoration: underline;

}

#menuEspecial{
    display: none;
}

main section#avatar{
    background-image: url('imagens/outrasimagens/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid white;
}

main section#navegacion{
    border-radius: 15px;
    color: white;
    width: 30%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
}

main section div p{
    font-family: var(--font02);
    font-size: 2em;
}

main section div p .especialName{
    color: var(--cor03);
    font-weight: bold;
}

main input.myContato{
    width: 11%;
    margin-left: 14%;
    margin-top: 1.5%;
    font-family: var(--font02);
    font-size: 100%;
    padding: .3%;
    background-color: var(--cor03);
    color: white;
    border-radius: 15px;
    border: 0px;
    animation: wiggle 2s linear infinite;
}

main input.myContato:hover{
    cursor: pointer;
    background-color: white;
    color: #D92B2B;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.26);
}

main section#buttons{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 66.8%;
    top: 44%;
    text-align: center;
}

main section a img{
    width: 40px;
    border-radius: 50px;
    padding: 2px;
    margin-left: 15px;
    margin-top: 25px;
    border: 1px solid white;
    transition: transform 0.5s;
    transform: translateX(0) scale(1);
}

main section a img:hover, :focus{
    transform: translateX(10px) scale(1.3);
}

#navegacionTwo{
    color: white;
    text-align: center;
    width: 30%;
    margin-left: 65%;
    margin-top: -13.8%;
    font-family: var(--font02);
    font-size: 0.8em;
}

#time{
    width: 300px;
    height: 90px;
    margin-top: 10%;
    margin-left: 39%;

}

#displayData{
    color: white;
    height: 50%;
    text-align: center;
    font-family: var(--font01);
}

#displayHora{
    color: white;
    height: 50%;
    text-align: center;
    font-family: var(--font01);
}

footer{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: -1.5%;
    color: white;
    font-family: var(--font02);
    font-size: 0.7em;
}







/* PAGINA II -QUEM SOU EU- */

#fotoQuemSouEu{
    background-image: url('imagens/outrasimagens/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 370px;
    height: 370px;
    position: absolute;
    left: 20%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid white;
    animation: tremer .2s;
    animation-iteration-count: 2;
}

#txtQuemSouEu{
    width: 700px;
    height: 320px;
    background-color: white;
    margin-left: 38%;
    margin-top: 6%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.txtQuemSouEu{
    font-family: var(--font02);
    line-height: 2.1em;
}

#myContatoQs{
    margin-left: 60%;
}

#footerQsouEu{
    margin-top: 3%;
}





/* PAGINA III -PROJETOS- */

#myConteiners{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.conteiners{
    width: 300px;
    height: 200px;
    color: white;
    font-family: var(--font02);
    border: solid 1px white;

}

.conteiners:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 1s;
    animation: tremer .2s;
    animation-iteration-count: 2;
}

#conteinerI{
    display: inline-block;
    margin-right: 2%;
}

#conteinerII{
    display: inline-block;
    margin-right: 2%;
}

#conteinerIII{
    display: inline-block;
}

#conteinerIV{
    display: inline-block;
    margin-right: 2%;
    margin-top: 2%;
}

#conteinerV{
    display: inline-block;
    margin-right: 2%;
    margin-top: 2%;
}

#conteinerVI{
    display: inline-block;
    margin-top: 2%;
}

.imagensProjetos{
    width: 100%;
    height: 80%;
}

#footerProjetos{
    margin-top: 3.5%;
}




/* PAGINA IV - HABILIDADES - */

#habilidades{
    text-align: center;
    margin-top: 5%;
}

#myHab{
    font-family: var(--font01);
    font-size: 3.5em;
    color: white;
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 31.5%;
}

#txtHardSkill{
    color: white;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 10%;
    font-family: var(--font02);
    font-size: 1.1em;
    width: 200px;
}

#hardSkill{
    background-color: red;
    color: white;
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 9.8%;
    font-family: var(--font01);
    font-size: 1.7em;
}

#txttHardSkill{
    color: white;
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 10%;
    font-family: var(--font02);
    font-size: 1.1em;
    width: 200px;
    line-height: 2em;
}

#txtSoftSkill{
    color: white;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 75%;
    font-family: var(--font02);
    font-size: 1.1em;
    width: 200px;
}

#softSkill{
    background-color: red;
    color: white;
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 75%;
    font-family: var(--font01);
    font-size: 1.7em;
}

#txttSoftSkill{
    color: white;
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 75%;
    font-family: var(--font02);
    font-size: 1.1em;
    width: 200px;
    line-height: 2em;
}

#footerHab{
    margin-top: 42%;
}




/*PAGINA V - CONTATO - */

main section#buttonsContato{
    width: 500px;
    height: 100px;
    position: absolute;
    left: 28%;
    bottom: 110%;
    text-align: center;
    text-decoration: none;
}

.imgContato{
    width: 60px;
    border-radius: 50px;
    padding: 2px;
    margin-left: 15px;
    margin-top: 25px;
    border: 1px solid white;
    transition: transform 0.5s;
    transform: translateX(0) scale(1);
}

h1{
    text-align: center;
    color: white;
    font-family: var(--font01);
    font-size: 1.2em;
    margin-top: 15%;
    margin-bottom: 2%;
}
  
form{
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    text-align: center;
    font-family: var(--font01);
    color: white;
}
  
label{
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
  
input[type="submit"]{
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#footerCont{
    margin-top: 8%;
}



@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }




@media (min-width: 250px) and (max-width: 350px){
    /*PAGINA I INDEX*/

header div#logomarca{
    width: 65px;
    display: inline-block;
    position: absolute;
    right: 40%;
}

#menuEspecial{
    display: block;
    position: absolute;
    left: 85%;
    top: 2%;
    width: 50px;
    height: 35px;
}

#menuEspecial > a{
    line-height: 1.5em;
    z-index: 1;
    display: none;
    margin-bottom: 0%;
    position: absolute;
    right: 38%;
}

#imagemMenu{
    width: 100%;

}

#menuPadrao{
    display: none;
}

main section#avatar{
    background-image: url('imagens/outrasimagens/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 230px;
    height: 230px;
    position: absolute;
    top: 170px;
    left: 136.5px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: -1;
}

main section#navegacion{
    color: white;
    width: 243px;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 24px;
}

main section div p{
    font-family: var(--font02);
    font-size: 1em;
}

main section div p .especialName{
    color: var(--cor03);
    font-weight: bold;
}

main input.myContato{
    width: 35%;
    font-family: var(--font02);
    font-size: 80%;
    padding: .3%;
    background-color: var(--cor03);
    color: white;
    border-radius: 15px;
    border: 0px;
    animation: wiggle 2s linear infinite;
    position: absolute;
    top: 350px;
    left: 58px;
}

main input.myContato:hover{
    cursor: pointer;
    background-color: white;
    color: #D92B2B;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.26);
}

main section#buttons{
    width: 230px;
    height: 80px;
    position: absolute;
    left: 37px;
    top: 470px;
    text-align: center;
}

main section a img{
    width: 32px;
    border-radius: 50px;
    border: 1px solid white;
    transition: transform 0.5s;
    transform: translateX(0) scale(1);
}

main section a img:hover, :focus{
    transform: translateX(10px) scale(1.3);
}

#navegacionTwo{
    color: white;
    text-align: center;
    width: 90%;
    font-family: var(--font02);
    font-size: 1em;
    position: absolute;
    top: 450px;
    right: 17px;
}

#time{
    font-size: 0.6em;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 550px;
    left: -69px;
}

#displayData{
    color: white;
    height: 50%;
    text-align: center;
    font-family: var(--font01);
}

#displayHora{
    color: white;
    height: 50%;
    text-align: center;
    font-family: var(--font01);
}

footer{
    text-align: center;
    color: white;
    font-family: var(--font02);
    font-size: 0.5em;
    position: absolute;
    top: 690px;
    right: 2px;
}

}





@media (min-width:351px) and (max-width: 423px){
    /*PAGINA I INDEX*/

header div#logomarca{
    width: 20%;
    display: inline-block;
    margin-right: 75%;
    margin-top: 3%;
}

#menuEspecial{
    display: block;
    position: absolute;
    left: 85%;
    top: 2%;
    width: 50px;
    height: 35px;
}


#menuEspecial > a{
    line-height: 1.5em;
    z-index: 1;
    display: none;
    margin-bottom: 0%;
    position: absolute;
    right: 38%;
}

#imagemMenu{
    width: 50px;
}

#menuPadrao{
    display: none;
}

main section#avatar{
    background-image: url('imagens/outrasimagens/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 165px;
    left: 205px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: -1;
}

main section#navegacion{
    color: white;
    font-size: 1.3em;
    width: 350px;
    text-align: center;
    position: absolute;
    top: 280px;
    left: 10px;
}

main section div p{
    font-family: var(--font02);
    font-size: 1em;
}

main section div p .especialName{
    color: var(--cor03);
    font-weight: bold;
}

main input.myContato{
    width: 30%;
    font-family: var(--font02);
    font-size: 95%;
    padding: .5%;
    background-color: var(--cor03);
    color: white;
    border-radius: 15px;
    border: 0px;
    animation: wiggle 2s linear infinite;
    position: absolute;
    top: 390px;
    left: 82px;
}

main input.myContato:hover{
    cursor: pointer;
    background-color: white;
    color: #D92B2B;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.26);
}

main section#buttons{
    width: 300px;
    height: 80px;
    position: absolute;
    left: 48px;
    top: 505px;
    text-align: center;
}

main section a img{
    width: 45px;
    border-radius: 50px;
    border: 1px solid white;
    transition: transform 0.5s;
    transform: translateX(0) scale(1);
}

main section a img:hover, :focus{
    transform: translateX(10px) scale(1.3);
}

#navegacionTwo{
    color: white;
    text-align: center;
    width: 90%;
    font-family: var(--font02);
    font-size: 1.1em;
    position: absolute;
    top: 515px;
    right: 21px;
}

#time{
    font-size: 0.8em;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 580px;
    left: -53px;
}

#displayData{
    color: white;
    height: 50%;
    text-align: center;
    font-family: var(--font01);
}

#displayHora{
    color: white;
    height: 50%;
    text-align: center;
    font-family: var(--font01);
}

footer{
    width: 300px;
    text-align: center;
    color: white;
    font-family: var(--font02);
    font-size: 0.7em;
    position: absolute;
    top: 728px;
    right: 50px;
}

}
